/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--header-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding: 10px;
}

.header { 
  display: grid;
  position: relative;
}

.header::after {
  position: absolute;
  content: '';
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  justify-self: end;
}

.header::before {
  position: absolute;
  content: '';
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  align-self: flex-end;
}

.decor-text {
  position: absolute;
  display: flex;
  justify-self: flex-end;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--font), Bold, Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  margin-block-end: 39px;
}

.decor-text::after {
  content: '';
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline: 10px 9px;
  align-self: center;
}

.header__theme-menu {
  margin-block-start: 75px;
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap:10px;
}

.header__theme-menu-button {
  background-color: transparent;
  background: none;
  color: var(--accent-color);
  font-family: var(--font), Bold, Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid var(--accent-color);
  padding: 0 13px;
  text-transform: lowercase;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}

.header_title {
  color: var(--h1-color);
  margin-block-start: 65px;
  font-family: var(--font), Bold, Regular ;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
}

.header_text {
  margin-block: 55px 66px;
  font-family: var(--font), Bold, Regular;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
}