/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--header-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  gap: 40px;
}

.header { 
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  inline-size: 100%;
  padding: 10px;
  min-block-size: 668px;
  min-inline-size: 375px;
}

.header::after {
  position: absolute;
  content: '';
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  justify-self: end;
}

.header::before {
  position: absolute;
  content: '';
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  align-self: flex-end;
}

.decor-text {
  position: absolute;
  display: flex;
  justify-self: flex-end;
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--main-font), Bold, Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.decor-text::after {
  content: '';
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  margin-inline: 10px 9px;
  align-self: center;
}

.header__theme-menu {
  align-self: center;
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-button {
  background-color: transparent;
  background: none;
  color: var(--accent-color);
  font-family: var(--main-font), Bold, Regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 1px solid var(--accent-color);
  padding: 1.5px 13px 3px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
   border: 1px solid #FF007066
} 

.header__theme-menu-button:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--accent-color); 
}

.header_title {
  color: var(--h1-color); 
  font-family: var(--main-font), Bold, Regular ;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 95.7px;
}

.header_text {
  align-self: center;
  font-family: var(--main-font), Bold, Regular;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  text-underline-position: from-font;
}

/* <-----------------main----------------> */

.main {
  padding: 0 10px;
}

.main section:not(:last-of-type) {
  margin-bottom: 50px;
}

/* <----------section_content_1 / 2----------> */

.section_content_1, .section_content_2, .section_content_3 {
  display: grid;
  gap: 20px;
}

.section_content_list li:not(:last-child){
  margin-bottom: 20px;
}

.section_title {  
  font-family: var(--main-font);
  font-weight: 700; 
  color: var(--accent-color);
  font-size: 18px;
}

.card {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 23.4px;
}

.card_text {
  margin-top: 10px;
  color: var(--text-color)
}

.title_decor {
  background-color: var(--accent-color);
  color: var(--title-color);
}