:root {
  --h1-color: #DB00FF;
  --accent-color: #FF0070;
  --title-color: #000028;
  --text-color: #F1B2CE;
  --header-background-image: url(../images/cover-image-dark.png);
  --main-font: IBM Plex Mono;
}
